@use "variables" as vars;
@use "utilities" as utils;
@use "layout" as layout;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: vars.$font-family-body;
	font-weight: vars.$font-weight-body;
	font-size: vars.$font-size-medium;
	background-color: vars.$theme-background;
	color: vars.$theme-text;
	line-height: vars.$line-height-base;
	min-height: 100%;
}
