@use "colors";

// Brand & surface
$theme-background: colors.$color-gray-100;
$theme-surface: colors.$color-white;
$theme-surface-variant: colors.$color-gray-50;
$theme-primary: colors.$color-primary;
$theme-link-hover: colors.$color-link-hover;

// Text
$theme-text: colors.$color-gray-800;
$theme-text-light: colors.$color-gray-600;

// Border
$theme-border: colors.$color-gray-400;