$transition-fast-ease-in-out: 0.1s ease-in-out;
$transition-normal-ease-in-out: 0.2s ease-in-out;
$transition-slow-ease-in-out: 0.3s ease-in-out;

$transition-fast-ease: 0.1s ease;
$transition-normal-ease: 0.2s ease;
$transition-slow-ease: 0.3s ease;