$font-family-heading: 'Montserrat', sans-serif;
$font-family-body: 'Roboto', sans-serif;

$font-weight-body: 400;
$font-weight-heading: 700;
$line-height-base: 1.5;

// Font Sizes
$font_size_xsmall: 0.75rem;
$font_size_small: 0.875rem;
$font_size_medium: 1rem;
$font_size_large: 1.25rem;
$font_size_xlarge: 1.5rem;
$font_size_xxlarge: 2rem;
$font_size_xxxlarge: 2.5rem;