@use "sass:color";
@use "@/styles/variables" as vars;


.form-group {
    display: flex;
    flex-direction: column;
    gap: vars.$gap-tiny;

    label {
        font-weight: bold;
        color: vars.$theme-text-light;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
        padding: vars.$padding-small;
        border: vars.$border-width solid vars.$color-gray-400;
        border-radius: vars.$border-radius-input;
        font-size: vars.$font_size_medium;
        font-family: vars.$font-family-body;
    }
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: vars.$gap-small;
    margin-top: vars.$margin-medium;
    padding-top: vars.$padding-medium;
    border-top: vars.$border-width solid vars.$color-gray-400;
}